name: Bump Formulae and Casks

on:
  push:
    paths:
      - "auto_bump/*.txt"
      - ".github/workflows/bump.yml"
  schedule:
    - cron: "20 8,20 * * *"
  workflow_dispatch:

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  bump:
    name: Auto Bump
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        type:
          - formula
          - cask

    steps:
      - name: Get brew config (if debug)
        if: runner.debug == '1'
        run: brew config

      - name: Set up Tap
        run: brew tap maaassistantarknights/tap

      - name: Configure Git User
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Livecheck
        env:
          HOMEBREW_LIVECHECK_WATCHLIST: "/opt/homebrew/Library/Taps/maaassistantarknights/homebrew-tap/auto_bump/${{ matrix.type }}.txt"
        run: |
          brew livecheck --newer-only --${{ matrix.type }} --json
          {
            echo -n "LIVECHECK_RESULT="
            brew livecheck --newer-only --${{ matrix.type }} --json | jq -c '.'
          } >> "$GITHUB_ENV"

      - name: Auto Bump
        uses: actions/github-script@v8
        env:
          HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.MAA_HOMEBREW_BUMP_PR }}
        with:
          script: |
            const info = JSON.parse(process.env.LIVECHECK_RESULT);
            const type = `${{ matrix.type }}`;
            for (let i = 0; i < info.length; i++) {
              const name = info[i][type];
              const version = info[i].version.latest;
              core.info(`Bumping \`${name}\` to \`${version}\``);

              try {
                await exec.exec('brew', [
                  `bump-${type}-pr`,
                  `maaassistantarknights/tap/${name}`,
                  '--no-audit',
                  '--no-browse',
                  `--version=${version}`,
                  `--message=Bump \`${name}\` to \`${version}\``
                ]);
              } catch (error) {
                core.setFailed(`Failed to bump ${name}: ${error.message}`);
              }
            }
